body {
  font-family: Arial, sans-serif;
  background-color: aquamarine
}

h1 {
  font-size: 38px
}


h2 {
  font-size: 32px
}


.ingredients-list {
  list-style: square inside;
}

ul {
  list-style: katakana inside;
}

header > img {
  min-width: 100px
}

ul > li > a {
  color: inherit;
  text-decoration: none
}

